<%- contentFor('body') %>
<section id="colaborador">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h4 class="title upper bold">My Account</h4>
				<span class="subtitle">Update my account settings</span>
			</div>
			<div class="col-xs-12">
				<form action="/colaborador/<%= user._id %>?_method=PUT" method="POST">
					<% include ./../partials/colaborador/form %>
				</form>
			</div>
		</div>
	</div>
</section>
