<%- contentFor('body') %>
<section id="colaborador">
	<div class="container">
		<div class="row">
			<center><h4 class="title upper bold" >Orcamento</h4></center>
			<hr>
			<div class="col-xs-12 col-md-6">
				<h4 class="title upper bold">Register now</h4>
				<span class="subtitle">Create new Orcamento</span>
				<a href="/orcamento/new" class="btn btn-red-default">Create now</a>
			</div>
			<div class="col-xs-12 col-md-6">
				<h4 class="title upper bold">Meus Orçamentos</h4>
				<span class="subtitle">Acompanhe seu orçamento</span>
			</div>
		</div>
	</div>
</section>